.DS_Store
*.o
build
.build
buildResults
*.mode1v3
*.mode2v3
*.pbxuser
*.tm_build_errors
*.perspectivev3
xcuserdata
*.pbxuser
*.xccheckout
.idea
buildScript
intermediates
External/
Pods/
Podfile\.lock
tmp
XcodeBuild/
**/scratches/**
Package\.resolved
.swiftpm
